@{
	ViewData["Title"] = "Home Page";
}


	<div class="row">
		<h1 class="header center">Exploring the Legend of Zelda</h1>
		<article class="row">
			<div class="col s4">
				<img class="materialboxed" src="img/1986.png">
			</div>
			<section class="col s8">
				<h2>The Legend of Zelda</h2>
				<p>
					The Legend of Zelda is a 1986 action-adventure video game developed and published by Nintendo and designed by Shigeru Miyamoto and Takashi Tezuka. Set in the fantasy land of Hyrule,
					the plot centers on a boy named Link, the playable protagonist, who aims to collect the eight fragments of the Triforce of Wisdom in order to rescue Princess Zelda from the antagonist, Ganon.
					During the course of the game, the player (seeing Link from a top-down perspective) navigates throughout the overworld and several dungeons, defeating enemies and uncovering secrets along the way.
				</p>
			</section>
		</article>
		<article class="row">
			<section class="col s8">
				<h2>The Adventure of Link</h2>
				<p>
					Zelda II: The Adventure of Link is an action adventure video game with platforming elements. The second installment in The Legend of Zelda series, it was developed and published by Nintendo
					for the Family Computer Disk System on January 14, 1987. The Adventure of Link is a direct sequel to the original The Legend of Zelda, again involving the protagonist, Link, on a quest to save Princess Zelda, 
					who has fallen under a sleeping spell. The Adventure of Link's emphasis on side-scrolling and role-playing elements was a significant departure from its predecessor. For much of the series' three 
					decade history, the game served as the only technical sequel to the original title, as all other entries in the series were either prequels or occurred in an alternative reality, according to 
					the official Zelda timeline. This eventually changed with the release of The Legend of Zelda: Breath of the Wild in 2017, which serves as the latest chapter in the overall continuity.
				</p>
			</section>
			<div class="col s4">
				<img class="materialboxed" src="img/1987.png">
			</div>
		</article>
		<article class="row">
			<div class="col s4">
				<img class="materialboxed" src="img/1991.png">
			</div>
			<section class="col s8">
				<h2>A Link to the Past</h2>
				<p>
					This is the third installment in The Legend of Zelda series and was released in 1991 in Japan and 1992 in North America and Europe.The plot of A Link to the Past focuses on Link as he travels on a journey to save Hyrule,
					defeat the dark lord Ganon, and rescue the descendants of the Seven Sages. A Link to the Past uses a 3/4 top-down perspective similar to that of the original The Legend of Zelda, dropping the side scrolling elements of Zelda II:
					The Adventure of Link. The Legend of Zelda: A Link to the Past introduced elements to the series that are still commonplace today, such as the concept of an alternate or parallel world, the Master Sword and other
					new weapons and items. Critics and players alike have commented on the similarities between A Link to the Past and the Nintendo 64 sequel Ocarina of Time, with some even referring to the latter as a "spiritual remake"
					of A Link to the Past.
				</p>
			</section>
		</article>
		<article class="row">
			<section class="col s8">
				<h2>Link's Awakening</h2>
				<p>
					The Legend of Zelda: Link's Awakening is a 1993 action-adventure game developed and published by Nintendo for the Game Boy. It was the first installment in The Legend of Zelda series for a handheld game console. 
					Link's Awakening began as a port of the Super NES game The Legend of Zelda: A Link to the Past, developed after-hours by Nintendo staff. It grew into an original project under the direction of Takashi Tezuka, with a story and 
					script created by Yoshiaki Koizumi and Kensuke Tanabe. It is one of the few Zelda games not to take place in the land of Hyrule, and does not feature Princess Zelda or the Triforce relic. Instead, protagonist Link begins the game 
					stranded on Koholint Island, a place guarded by a whale-like deity called the Wind Fish. Assuming the role of Link, the player fights monsters and solves puzzles while searching for eight musical instruments that will awaken the 
					sleeping Wind Fish and allow him to escape from the island.
				</p>
			</section>
			<div class="col s4">
				<img class="materialboxed" src="img/1993.png">
			</div>
		</article>
	</div>
