@font-face {
	font-family: 'Visitor';
	src: url('/fonts/visitor/visitor2.ttf') format('truetype');
}

body {
	background-color: #183442;
}

header nav,
footer.page-footer {
	background-color: #efffde;
	color: #183442;
}

header nav 

footer.page-footer .footer-copyright {
	background-color: rgba(239, 255, 222, 0.08);
	color: rgba(24, 52, 66, 0.8);
}

header nav .brand-logo,
header nav ul a,
.page-footer .footer-copyright .container {
	font-family: 'Visitor';
	text-transform: uppercase;
	color: #183442;
}

header nav .brand-logo {
	font-size: 3.1rem;
}

header nav ul a {
	font-size: 1.5rem;
}

body main {
	color: #add794;
}

main h1,
main h2 {
	font-family: 'Visitor';
	text-transform: uppercase;
}

main h1 {
	font-size: 3.2rem;
}

main h2 {
	font-size: 2.56rem;
	margin-top: 0;
}

main img {
	width: 100%;
}